<h1>List of Contributors</h1>

<% @users.uniq.each do |user| %>
  <td>
  <ul><tr><%= user.email %> has made <%= user.queries.count %> Contributions</tr>
  <li><% if user.queries.count > 0 %>
    <ul><% user.queries.uniq.each do |query| %>
      <li>Q: <%= link_to query.question, query_path(query) %></li>
      <li>A: <%= query.answer %></li>
      <li><%= link_to 'Edit', query_path(query) %></li>
    <% end %>
    </ul>
  </li>
    <% end %>
  <ul>
  </ul>
  </td>

<% end %>

